* {
    box-sizing: border-box;
    font-family: cursive;
    font-size: 21px;
    font-weight: bold;
}

html {
    background: url(./images/imagine.jpg) 50% 50% no-repeat;
    background-attachment: scroll;
    background-size: cover;
}



.container {
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-around;
}

.text {
    /*background: url(./images/dicover.jpg) center no-repeat;
    background-attachment: scroll;
    background-size:cover;*/
    width: 30%;
    text-align: center;
    border-radius: 8px;
}

h2 {
    color: rgb(182, 158, 22);
    filter:saturate(450%);
    font-size: 50px;
    margin-top: 0;
background-color:hsl(180, 75%, 46%);
/*background-color: transparent;*/
border-radius:10px;
padding: 8px;
filter: opacity(70%);
transform: perspective(5rem) rotateX(32deg);



    /*
    background-color:rgb(246, 248, 241);
    border-radius: 8px;*/
}
h2:hover {
cursor: pointer;
background-color: transparent;
filter: drop-shadow(8px 8px 10px hsl(231, 65%, 67%));
}


.iframe-set {
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 410px;
}


.navigation-tab {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button {
    border: 0;
    cursor: pointer;
    width: 100%;
    background-image: repeating-linear-gradient(to bottom left, hsl(210,45%,67%) 10%, hsl(34, 56%, 45%));
}

button:hover {
    transform: scale(1.1);
}
/*iframe {
    width: 100%;
    height:300px;
    background-color: turquoise;
}*/

.iframe-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: scroll;
    height: 300px;
    border: 0;
}

img {
    width: 100%;
    height: 90%;
    margin: 10px;
    border-radius: 10px;
    filter: saturate(2);
}

img:hover {
    transform: scale(3);
    filter: drop-shadow(8px 18px 10px hsl(111, 45%, 34%));
    filter: saturate(2);
}
/* mobile design */

@media screen and (max-width: 750px) {
    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        width: 300px;
        position: relative;
        left: -40%;
    }

    .iframe-wrapper {
        display: flex;
        flex-flow: column;
    }

    img {
        width: 70%;
    }
}

